 <!-- header -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header"> 
            <a class="navbar-brand" href="#">
                Gestion domotique 
            </a> 
        </div>
        <div class="navbar-collapse collapse"> 
            <ul class="nav navbar-nav navbar-right"> 
                <li>
                    <button type="button" class="btn btn-info navbar-btn">
                        Accès administrateur
                    </button>
                </li>
                <li>
                    <button class="btn btn-danger navbar-btn" (click)="goToInstructions()" id="instructions-btn">Instructions</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

