 <!-- article -->
<section class="row">
    <div class="col-md-9 article">

        <!-- Icones active -->
        <div class="icon-status">
            <div *ngFor="let room of getObjectKeys(roomsList); let i=index">
                <div class="status-round" [ngClass]="{'active': forceStates[room]}"></div>
            </div>
        </div>
       
        <!-- Rooms -->
        <div class="status-room">
            <div *ngFor="let roomName of getObjectKeys(roomsList)">
                <div>
                    <p class="room">{{ roomName }}</p><br>
                </div>
            </div>
        </div>
          
        <!-- Force buttons -->
        <div class="force-btn">
            <div *ngFor="let room of getObjectKeys(roomsList); let i=index">
                <button class="btn btn-primary" (click)="toggleColor(room)">Forçage</button>
            </div>
        </div>
        
    </div>

    
    <!-- Display hour -->
    <app-hour></app-hour>

</section>
<section class="row">
    <div class="col-12 logs-custom">
        <div *ngFor="let msg of logs; let i=index">
            <p>
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 
                {{msg}}
            </p>
        </div>
    </div>
</section>    
